<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/CodingProfile/IdeaProjects/TestTask/src/test/java/tests">
        <packages>
            <package name="tests.uITests"></package>
            <package name="tests.aPITests"></package>
        </packages>
    </test>
</suite>